<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scsx.dao.ExamMapper">

	<select id="findExamsByUNO" resultType="Exam">
		SELECT * FROM EXAM
		WHERE UNO = #{UNO}
		LIMIT #{offset}, #{rows};
	</select>
	
	<select id="findAllExams" resultType="Exam">
		SELECT EXAM.UNO, EXAM.PNO, USER.UNAME, USER.NAME, PAPER.PNAME, RESULT, TIME, EXAMNO 
		FROM EXAM, USER, PAPER 
		WHERE EXAM.UNO = USER.UNO 
		AND EXAM.PNO = PAPER.PNO
		LIMIT #{offset}, #{rows};
	</select>
	
	<insert id="insertExam" parameterType="Exam">
		INSERT INTO EXAM
		(UNO, PNO, NAME, RESULT, TIME)
		VALUES(#{exam.UNO}, #{exam.PNO}, #{exam.RESULT}, #{exam.TIME})
	</insert>
	
</mapper>