<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scsx.dao.PaperMapper">

	<select id="findPapers" resultType="Paper">
		SELECT * FROM PAPER;
	</select>
	
	<select id="getPaperByPNO" resultType="Paper">
		SELECT * FROM PAPER
		WHERE PNO = #{PNO};
	</select>
	
</mapper>