<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scsx.dao.QuestionMapper">

	<select id="findQuestionByPNO" resultType="Question">
		SELECT * FROM QUESTION, QTSET 
		WHERE QUESTION.QNO = QTSET.QNO
		AND QTSET.PNO = #{PNO};
	</select>
	
	<select id="findQuestions" resultType="Question">
		SELECT * FROM QUESTION
		LIMIT #{offset}, #{rows};
	</select>
	
	<update id="updateQuestion" parameterType="Question">
		UPDATE QUESTION
		SET BANK=#{BANK}, OPTION1=#{OPTION1}, OPTION2=#{OPTION2}, OPTION3=#{OPTION3}, OPTION4=#{OPTION4}, ANS=#{ANS}
		WHERE QNO=#{QNO};
	</update>
	
</mapper>