<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:命名空间，对statement的信息进行分类管理 -->
<!-- 注意：在mapper代理时，它具有特殊及其重要的作用 -->

<mapper namespace="com.scsx.dao.UserMapper">

	<!-- select:表示一个MappedStatement对象 -->
	<!-- #{}表示一个占位符？ -->
	<select id="findUserByUNO" parameterType="int" resultType="com.scsx.domain.User">
		SELECT * FROM USER WHERE UNO = #{UNO}
	</select>
	<select id="findUserByUNAME" parameterType="String" resultType="com.scsx.domain.User">
		SELECT * FROM USER WHERE UNAME = #{UNAME}
	</select>
	
	<select id="findAllUsers" resultType="com.scsx.domain.User">
		SELECT * FROM USER
		LIMIT #{offset}, #{row}
	</select>
	
	<insert id="insterUser" parameterType="com.scsx.domain.User">
		<selectKey keyProperty="UNO" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID() 
		</selectKey>
	
		INSERT INTO USER
		(UNAME,PW,NAME,ID,UPHONE,POWER,HEADIMAGE)
		VALUES(#{UNAME},#{PW},#{NAME},#{ID},#{UPHONE},#{POWER},#{HEADIMAGE})
	</insert>
	
	<update id="updateUserPHONE">
		UPDATE USER 
		SET UPHONE=#{UPHONE}
		WHERE UNO=#{UNO}
	</update>
	
	<update id="updateUserPW">
		UPDATE USER 
		SET PW=#{PW}
		WHERE UNO=#{UNO}
	</update>
	
	<update id="updateUserHEADIMAGE">
		UPDATE USER 
		SET HEADIMAGE=#{HEADIMAGE}
		WHERE UNO=#{UNO}
	</update>
</mapper>