.content-wrapper {
	/* 	min-height: 100%; */
	overflow-x: hidden;
	margin-left: 0px;
	transition: margin-left 0.2s;
	/* sticky bottom */
	max-width: 768px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 36px;
	padding-bottom: 36px
}

.content-wrapper#title {
	padding-top: 0px;
	padding-bottom: 22px;
}


@media ( min-width : 768px) {
	.content-wrapper {
		padding-left: 10%;
		padding-right: 10%;
		margin-left: 200px; 
	}
	body.hide-sidedrawer .content-wrapper {
		margin-left: 0;
	}
}

@media ( min-width : 425px) { 
	.content-wrapper {
		padding-left: 5%;
		padding-right: 5%;
	}
}

input.wrong {
	border-color: #F44336;
	border-width: 2px;
}

label.wrong {
	color: #F44336;
}

.content-wrapper .question-item { 
  padding-top: 15px; 
  padding-bottom: 15px; 
} 

.content-wrapper tr.selected:hover td {
    background: #f3e5f5;
}

div.question-edit {
	margin-left: -55px;
	margin-right: -15px;
	padding-left: 55px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.question-edit .check {
	width: 20px;
}

.question-edit .choice-edit {
	margin-left: -20px;
}

.question-edit .mui-textfield {
	padding-top: 0px;
	margin-bottom: 3px;
}

.question-edit .mui-textfield>input,
.question-edit .mui-textfield>textarea {
	font-size: 14px;
}

.choice-edit .mui-textfield {
	display: inline-block;
	width: calc(100% - 20px);
}

.mui-textfield input:disabled {
    color: #BDBDBD;
}

form#picForm {
    display: flex;
    align-items: center;
}


form#picForm .avatar {
	margin-right: 22px;
	margin-bottom: 0;
}