body.colored-primary {
	text-align: center;
	background-color: #eee;
}

div {
	text-align: left;
}

.login-dialog {
	min-height: 100%;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 15px;
	transition: margin-left 0.2s;
  	vertical-align: middle;
}


@media ( min-width : 425px) { 
	.login-dialog {
		max-width: 425px;
	}
}

.div-inline {
	display: inline;
}